<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Upload an Imag
        </h3>
    </div>
</div>

<form action="/images" method="POST" enctype="multipart/form-data">
    <div class="panel-body form-horizontal">
        <div class="form-group col-md-12">
            <label for="file" class="col-sm-2 control-label">
                Browser:
            </label>
        </div>
    </div>
</form>